p {
  text-align: left;
  text-indent: 60px;
}

h1{
  color: #fcba03;
}

h2{
  color: #fcba03;
}

body{
  background: url(bg.png) center/cover no-repeat;
  font-family: "Times New Roman", Times, serif;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.container{
  padding: 5px;
}

.circle{
  height: 30px;
  width: 30px;
  background-color: #fcba03;
  border-radius: 50%;
  display: inline-block;
  margin-left:0;
}

.circle2{
  height: 30px;
  width: 30px;
  background-color: #fcba03;
  border-radius: 50%;
  display: inline-block;
}

.lines {
  width: 100%;
  height: 45%;
  position: relative;
}

.lines::after, .lines::before{
  content: '';
  position: absolute;
  margin: auto;
  height: 2px;
  background: #fff;
  width: 45%;
  top: 45%;
}

.lines::after{
  left: 0;
}

.lines::before{
  right: 0;
}



  
